extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/main-app.css', type='text/css')
  title vue-express-boilerplate

block content
  div#app

  script(src='/javascripts/main-app.js')
